/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
    font-family: 'Noto Serif', serif;
}

aside {
    width: 20%;


}

h1 {
    font-size: 2rem;
    text-align: center;
}

.bag-container {
 background-image: url('https://image.freepik.com/foto-gratis/texturas-pared-gris-fondo_74190-4389.jpg');
 object-position: center;
 object-fit: contain;
 width: 100%;
 padding: 1rem;

}

.bag-wall-board {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    padding: 1rem;
}


.tile-column {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

 .tile {
    width: 50px;
    height: 50px;
    border-radius: 1rem;
    margin-right: 1rem;
    border: 5px solid #fff;
}

.tile.blue {
    background-image: url('https://cdn.pixabay.com/photo/2020/04/19/08/17/watercolor-5062356_1280.jpg');
    object-position: center;
    background-size: cover;
}



.tile.red {
    background-image: url('https://cdn.pixabay.com/photo/2017/10/04/07/43/autumn-2815427_1280.jpg');
    object-position: center;
    background-size: cover;
}

.tile.yellow {
     background-image: url('https://cdn.pixabay.com/photo/2020/03/17/01/55/background-4938749_1280.jpg');
    object-position: center;
    background-size: cover;
}

.tile.white {
    background-image: url('https://cdn.pixabay.com/photo/2018/04/08/15/13/background-3301487_1280.jpg');
    object-position: center;
    background-size: cover;
}

.tile.black {
    background-image: url('https://cdn.pixabay.com/photo/2017/04/19/09/03/air-2241556_1280.jpg');
    object-position: center;
    background-size: cover;
} 

.text-tile {
    font-family: 'Raleway', san-serif;
    font-weight: 500;
    font-size: 1rem;
}

