body {
  margin: 3rem;
}

img {
  width: 100%;
}

.flex-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/* Score div */

.score {
  width: 100%;
  background-color: teal;
}

/*Wallboard Div */

.wallboard {
  background-color: thistle;
  width: 100%;
}

.wallboard-tiles {
  padding: 1rem 0;
}
